:root {
    --lime: #fff;
    --black: #000;
    --light: #fff;
    --dlime: #3d3a2f;
}


body {
    transition: background-color ease-out 0.5s;
}

*::selection {
    background-color: var(--black);
    color: var(--light);
}

.logo img {
    transition: filter ease-out 0.5s;
}

body[theme="black"] .logo img {
    filter: invert(1);
}


body[theme="black"] {
    background-color: var(--black);

}

body[theme="black"] .section {
    color: var(--light);
}
body[theme="white"] {
    background-color: var(--light);

}

body[theme="white"] .section {
    color: var(--black);
}

body[theme="lime"] {
    background-color: var(--lime);

}

body[theme="lime"] .section {
    color: var(--dlime);
}

body[theme="cyan"] {
    background-color: var(--lime);

}

body[theme="cyan"] .section {
    color: var(--dlime);
}

body[theme="salmon"] {
    background-color: var(--lime);
}

body[theme="salmon"] .section {
    color: var(--dlime);
}

@font-face {
    font-family: 'Funnel';
    src: url('./assets/fonts/FunnelDisplay.ttf') format('truetype');
    font-weight: 300 800;
    font-display: swap;
}

@font-face {
    font-family: 'SansitaBold';
    src: url('./assets/fonts/font3.ttf');
    font-display: swap;
}

body {
    font-family: 'Funnel', sans-serif;
}